/* NavBar Styles */
.navBar {
  display:flex;
  flex-direction:row;
  background:url('../../images/dark_blue_texture.jpg');
  background-size: cover;
  width:100%;
  heigth:20vh;
  justify-content:space-between;
  align-items:center;
  box-shadow:10px 10px 10px 1px rgba(0,0,0,0.5);
  -webkit-text-stroke: 1.5px #FFFFFF;
}

.siteName {
  width:50%;
  font-size:2em;
  margin-left:15px;
  font-variant:small-caps;
  color:#FFFFFF;
  font-family: 'Roboto Slab', serif;
    -webkit-text-stroke: .5px grey;
}

.nav {
  width:50%;
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  margin-right:15px;
}

.navButton {
  color:#FFFFFF;
  text-decoration: none;
  font-weight:bold;
  font-variant: small-caps;
  margin-right:15px;
  font-size: 1.25em;
  font-family: 'Josefin Sans', sans-serif;


}

.menuIcon {
  display:none;
}
/* font-family: 'Roboto Slab', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Sedgwick Ave', cursive;*/
